<% if signed_in? %>
  <table class="front" summary="For signed-in users">
   <tr>
      <td class="main">
        <h1 class="celebrity">Who's your hero?</h1>
        <%= render 'shared/celebrity_form' %>
        <h1 class="celebrity">My Heros</h1>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
    
<h1>Three heros is a service that'll let you name the top 3 heros who made a significant impact in your life</h1>

    <%= link_to "Sign up now", signup_path, :class => "signup_button round" %>
<% end %>


